-#  This file is app/views/movies/index.html.haml


-# This code is modified from this https://stackoverflow.com/questions/13776986/form-is-not-appearing-but-its-content-does
-# and https://gist.github.com/jhowarth/945428
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %form
      = label :user, :email, "Email"
      = text_field :user, :email
      = label :user, :password
      = password_field :user, :password
    %input{:type => "submit", :value => "Sign in"}

.search
  %h Quick Recipe Search
  %input{:placeholder => "Search..", :type => "text"}/



.calendar
  %h1 Meal Plan
  = month_calendar do |date|
    = date.day

